
<div class="container">
    
<div class="row">

    <h1>Products</h1>

    <p *ngIf="!products"><em>Loading...</em></p>
    <div class="col-md-12">
    
        <div class="form-horizontal">
            <div class="form-group">
                <input [(ngModel)]="term" name="term" class="form-control col-md-4" placeholder="Enter keyword.." />
            </div>
            <button (click)="searchForm()" [disabled]="!hasSearchLength()" class="btn btn-primary pull-right">Search</button>
        </div>
        
        
        <table class='table' *ngIf="products">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.lastUpdatedTime | date:'yyyy-MM-dd' }}</td> 
                </tr>
            </tbody>
        </table>
        
        <hr/>
        <button (click)="prevPage()" [disabled]="!hasPrevPage()" class="btn btn-default">Prev</button>
        <button (click)="nextPage()" [disabled]="!hasNextPage()" class="btn btn-default">Next</button>
    </div>
</div>
</div>